.monitor {
	background-color: gainsboro;
	border: solid 1px blue;
	margin: 1em;
	width: 300px;
	height: 300px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}